/*SETEAR NUESTROS ARCHIVOS: SEA IGUAL PARA TODOS LOS NAVEGADORES*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*VERSIÓN MOBILE*/
/* CLASES REUTILIZABLES*/
.background-image {
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
}
.img-lab {/* Tamaño del logo blanco*/
  width: 7rem;
  height:1.5rem;
}
.row {
  margin: 0;
  width: 100%;
}
.col-border {
  border: 1px solid #fff;
  margin-top:2rem;
}
.margin-element {
  margin:1rem;
}
/*---FIN DE CLASES REUTILIZABLES...*/
.first-background-image {
  background-image:url(../assets/images/taxi.jpg);
  height: 40rem;
}
.second-background-image {
  background-image:url(../assets/images/conduce.jpg);
  height: 30rem;
}
.opacity {
  background-color: rgba(0,0,0,.5);
  height: 30rem;
}
.iframe-responsive {
  max-width: 100%;
  max-height: auto;
}
.fig-padding {
  padding: 1rem;
}
/* ESTILO MODALES*/
.modal-size { width: 85%  ; height: 80% ; }
/* CONDICIONAL PARA TABLETS*/
@media (min-width:601px){
  .first-background-image {
    height: 40rem;
  }
  .opacity {
    height: 15rem;
  }
  .col-border-phone { /* borde para el telefono movil*/
    border-left: none;
    margin: 1rem;
  }
  .modal-size { width: 65%  ; height: 60% ; }
}
/* CONDICIONAL PARA DESKTOP*/
@media (min-width:993px){
  .margin-column-desktop{
    margin-top:5rem;
  }
  .modal-size { width: 40%  ; height: 75% ; }
}
